In [1]:
import pandas as pd

### Validate game_stats

In [2]:
game_stats = pd.read_csv('../../data/game_stats.csv')
game_stats['date'] = pd.to_datetime(game_stats['date'])

Aggregates

In [3]:
# most/fewest games per team
game_stats.groupby(['season','team']).date.count().reset_index().sort_values('date', ascending=False)

      season            team  date
1089    2011     Connecticut    41
1523    2012      Louisville    40
1999    2013        Syracuse    40
2966    2016  North Carolina    40
2763    2015       Wisconsin    40
...      ...             ...   ...
4559    2021        Bucknell    12
4537    2021        American    10
4680    2021           Maine     9
4576    2021     Chicago St.     9
4640    2021          Howard     4

[5234 rows x 3 columns]

In [4]:
# teams by season
game_stats.drop_duplicates(subset=['season','team']).groupby('season').team.count()

season
2008    340
2009    344
2010    347
2011    345
2012    345
2013    347
2014    351
2015    351
2016    351
2017    351
2018    351
2019    353
2020    353
2021    347
2022    358
Name: team, dtype: int64

In [5]:
# are non-d1 games included? 
# check if any opponents are not in team_list which is d1 only
game_stats['non_d1'] = ~game_stats['opp'].isin(game_stats.team.values)
game_stats['non_d1'].describe()

count     160208
unique         1
top        False
freq      160208
Name: non_d1, dtype: object

Single example

In [6]:
game_stats[(game_stats.team=='Princeton')&(game_stats.season==2011)].sort_values('date')

,date,season,team,opp,location,adj_o,adj_d,o_ppp,d_ppp,non_d1
31936,2010-11-12,2011,Princeton,Rutgers,H,117.9,102.2,113.5,106.2,False
32161,2010-11-14,2011,Princeton,Duke,A,98.7,102.6,79.6,128.7,False
32953,2010-11-22,2011,Princeton,James Madison,A,101.8,92.2,98.1,99.6,False
33041,2010-11-23,2011,Princeton,Bucknell,N,102.2,86.2,100.6,83.8,False
33223,2010-11-24,2011,Princeton,Presbyterian,N,109.7,125.0,117.8,121.3,False
33566,2010-11-28,2011,Princeton,Siena,H,105.0,106.6,109.9,98.4,False
33691,2010-11-30,2011,Princeton,Lafayette,A,119.9,97.9,124.1,96.9,False
34218,2010-12-05,2011,Princeton,Saint Joseph's,H,111.4,93.0,113.6,99.8,False
34407,2010-12-08,2011,Princeton,Monmouth,A,101.3,96.3,97.9,93.3,False
34700,2010-12-12,2011,Princeton,Tulsa,A,108.8,96.5,105.5,100.3,False
34890,2010-12-17,2011,Princeton,Wagner,A,103.5,86.6,103.9,85.8,False
35336,2010-12-22,2011,Princeton,Towson,A,109.3,100.7,122.1,105.9,False
35685,2010-12-29,2011,Princeton,Northeastern,N,91.8,88.1,97.2,94.2,False
35840,2010-12-30,2011,Princeton,UCF,A,104.8,99.0,96.5,105.8,False
36283,2011-01-05,2011,Princeton,Marist,H,97.8,93.5,104.2,87.3,False
38433,2011-01-28,2011,Princeton,Brown,H,108.2,92.8,117.6,90.5,False
38510,2011-01-29,2011,Princeton,Yale,H,110.0,104.3,107.9,101.5,False
39089,2011-02-04,2011,Princeton,Harvard,H,103.5,94.5,106.1,99.6,False
39177,2011-02-05,2011,Princeton,Dartmouth,H,99.9,101.5,109.8,85.6,False
39493,2011-02-08,2011,Princeton,Penn,H,97.5,91.0,97.0,92.3,False
39741,2011-02-11,2011,Princeton,Columbia,A,116.0,80.3,122.1,73.9,False
39835,2011-02-12,2011,Princeton,Cornell,A,92.0,89.1,95.3,91.9,False
40398,2011-02-18,2011,Princeton,Yale,A,97.2,81.6,92.9,81.7,False
40485,2011-02-19,2011,Princeton,Brown,A,96.2,112.5,99.8,115.2,False
41057,2011-02-25,2011,Princeton,Cornell,H,115.0,101.9,125.8,98.8,False
41141,2011-02-26,2011,Princeton,Columbia,H,97.1,100.0,102.2,94.4,False
41677,2011-03-04,2011,Princeton,Dartmouth,A,115.0,97.3,120.6,86.2,False
41755,2011-03-05,2011,Princeton,Harvard,A,109.7,111.0,105.6,124.5,False
42031,2011-03-08,2011,Princeton,Penn,A,110.4,96.5,113.5,94.0,False
42307,2011-03-12,2011,Princeton,Harvard,N,109.3,102.1,110.8,109.0,False
42435,2011-03-17,2011,Princeton,Kentucky,N,115.7,94.1,105.0,108.7,False

### Validate team_stats

In [7]:
team_stats = pd.read_csv('../../data/team_stats.csv')

any ridiculous outliers?

In [8]:
pd.set_option('display.max_columns', None)

# raw stats - should all be reasonable percentages
team_stats[[c for c in team_stats.columns if 'rk' not in c]].describe()

,eFG%,eFG% Def,FTR,FTR Def,OR%,DR%,TO%,TO% Def.,3P%,3pD%,2p%,2p%D,ft%,ft%D,3P rate,3P rate D,arate,arateD,blockrateD,blockrateO,season
count,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.00000,5235.000000,5235.000000
mean,49.558300,49.765024,35.388386,35.685425,30.264088,30.479771,19.352493,19.274804,34.166476,34.361452,48.645234,48.835014,69.939408,70.011232,35.159713,35.162216,52.601834,52.782063,9.09553,9.255568,2015.042980
std,3.100536,2.885052,5.448150,6.451876,4.359330,3.490359,2.323502,2.386009,2.817732,2.455191,3.380638,3.305289,3.911310,2.557822,5.711456,4.451227,5.451790,5.135187,2.66989,1.670053,4.316999
min,38.500000,39.600000,18.900000,16.500000,14.200000,18.400000,11.900000,10.200000,24.800000,26.400000,37.700000,37.700000,54.200000,61.300000,10.800000,21.100000,33.800000,33.300000,2.60000,4.100000,2008.000000
25%,47.500000,47.800000,31.600000,31.200000,27.300000,28.100000,17.800000,17.600000,32.300000,32.700000,46.400000,46.600000,67.300000,68.300000,31.100000,32.100000,48.900000,49.400000,7.10000,8.100000,2011.000000
50%,49.500000,49.700000,35.300000,35.200000,30.400000,30.500000,19.200000,19.100000,34.100000,34.300000,48.600000,48.800000,70.000000,70.000000,35.000000,35.100000,52.500000,52.700000,8.90000,9.100000,2015.000000
75%,51.600000,51.700000,38.900000,39.700000,33.400000,32.900000,20.800000,20.800000,36.000000,36.000000,50.900000,51.100000,72.600000,71.700000,39.000000,38.100000,56.200000,56.100000,10.80000,10.300000,2019.000000
max,61.000000,60.100000,58.600000,62.300000,45.400000,43.300000,29.100000,28.500000,45.100000,43.100000,63.900000,61.200000,83.000000,79.400000,57.700000,51.400000,72.400000,73.800000,20.90000,16.300000,2022.000000

In [9]:
# ranks - should be all 1-358
team_stats[[c for c in team_stats.columns if 'rk' in c]].describe()

,eFG%_rk,eFG% Def_rk,FTR_rk,FTR Def_rk,OR%_rk,DR%_rk,TO%_rk,TO% Def._rk,3P%_rk,3pD%_rk,2p%_rk,2p%D_rk,ft%_rk,ft%D_rk,3P rate_rk,3P rate D_rk,arate_rk,arateD_rk,blockrateD_rk,blockrateO_rk
count,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000,5235.000000
mean,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406,175.025406
std,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862,100.800862
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
50%,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000
75%,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000
max,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000

Teams by season

In [10]:
team_stats.groupby('season').TeamName.count()

season
2008    341
2009    344
2010    347
2011    345
2012    345
2013    347
2014    351
2015    351
2016    351
2017    351
2018    351
2019    353
2020    353
2021    347
2022    358
Name: TeamName, dtype: int64

Single example

In [11]:
team_stats[team_stats.TeamName=='Princeton'].sort_values('season')

,TeamName,eFG%,eFG%_rk,eFG% Def,eFG% Def_rk,FTR,FTR_rk,FTR Def,FTR Def_rk,OR%,OR%_rk,DR%,DR%_rk,TO%,TO%_rk,TO% Def.,TO% Def._rk,3P%,3P%_rk,3pD%,3pD%_rk,2p%,2p%_rk,2p%D,2p%D_rk,ft%,ft%_rk,ft%D,ft%D_rk,3P rate,3P rate_rk,3P rate D,3P rate D_rk,arate,arate_rk,arateD,arateD_rk,blockrateD,blockrateD_rk,blockrateO,blockrateO_rk,season
155,Princeton,49.1,198,52.0,258,28.2,323,42.3,284,27.6,309,31.6,120,23.6,289,20.1,227,31.7,297,32.7,53,50.4,89,53.3,318,70.2,136,70.6,253,44.0,24,30.3,44,58.3,97,52.3,96,5.1,323,8.9,156,2008
663,Princeton,50.0,128,44.7,17,30.0,315,42.9,295,26.3,325,30.7,84,22.3,258,19.9,204,37.4,50,29.1,4,46.2,243,45.1,62,75.1,20,69.6,211,38.5,52,28.1,25,55.1,135,46.6,18,8.4,172,11.9,323,2009
909,Princeton,50.3,97,44.4,18,33.1,289,37.4,173,29.4,282,28.7,30,22.0,268,23.4,26,35.2,118,33.3,123,48.8,129,42.4,13,71.8,79,71.9,315,37.7,61,26.4,19,54.2,148,47.6,34,9.2,155,10.0,225,2010
1316,Princeton,52.0,47,47.1,76,36.7,199,35.4,117,31.1,213,26.9,10,18.7,88,18.3,268,36.9,59,33.3,103,50.5,66,46.0,91,73.5,50,72.1,307,31.0,223,26.9,16,53.8,157,49.0,54,10.6,88,10.9,285,2011
1614,Princeton,53.1,30,47.1,85,30.7,304,34.8,145,25.8,320,30.2,90,19.2,119,18.8,239,37.7,44,34.7,189,51.1,51,45.4,75,68.6,202,65.5,30,36.8,84,25.2,6,59.7,34,43.6,11,9.7,132,10.0,238,2012
1885,Princeton,53.9,18,48.2,152,34.6,213,37.6,212,30.6,209,28.6,57,20.3,195,20.8,129,41.0,2,34.2,191,49.9,75,47.0,153,72.0,91,72.1,302,34.0,150,27.4,29,62.9,20,46.5,24,7.7,235,9.1,164,2013
2359,Princeton,52.8,39,48.0,108,38.0,244,37.4,112,25.0,327,25.1,3,17.1,83,18.8,137,35.7,107,32.8,84,52.1,41,47.5,131,72.5,79,73.3,331,47.8,1,28.8,48,60.7,20,46.0,38,9.4,180,11.4,291,2014
2764,Princeton,54.3,23,49.6,191,46.1,17,41.8,266,20.7,349,26.4,22,18.8,154,18.5,210,37.3,57,36.9,288,53.0,25,47.2,144,70.9,109,71.3,281,45.4,11,29.8,50,57.3,79,47.4,32,8.3,227,13.5,345,2015
3094,Princeton,54.2,26,49.2,127,33.9,247,31.1,59,28.0,232,26.3,45,16.2,50,18.2,166,38.1,37,35.4,210,52.0,53,47.6,115,71.8,102,66.7,26,42.2,39,28.4,10,53.5,141,45.9,31,8.6,192,11.5,324,2016
3256,Princeton,53.2,60,48.7,92,24.4,350,32.0,95,24.1,320,24.7,21,15.2,11,20.2,63,37.6,59,34.5,137,50.5,122,46.9,80,74.0,63,69.8,136,46.2,11,36.7,192,54.4,124,48.4,72,9.8,128,8.7,135,2017
3731,Princeton,53.9,57,52.2,239,26.2,334,32.5,160,22.0,334,24.8,33,16.4,40,16.6,278,37.3,62,35.9,226,52.1,85,51.2,227,71.3,179,74.9,331,46.3,19,37.2,166,48.7,262,44.6,26,8.9,185,10.3,259,2018
4126,Princeton,47.0,316,49.7,131,29.8,268,28.7,71,24.3,294,24.7,29,17.8,125,17.2,258,30.3,337,32.5,71,48.1,251,50.3,184,74.5,49,72.6,281,40.5,126,36.3,98,41.7,343,43.4,19,5.9,324,11.2,303,2019
4509,Princeton,53.6,25,52.3,293,27.8,293,26.5,45,24.6,282,24.0,31,18.3,133,17.2,277,35.5,58,35.4,288,53.8,29,51.9,270,73.4,93,76.3,348,44.2,36,30.7,18,51.4,180,42.5,16,5.4,332,11.4,333,2020
5045,Princeton,56.7,4,51.3,235,21.3,355,21.7,13,24.8,285,23.5,29,14.5,10,15.5,324,38.4,6,33.6,171,55.9,10,51.6,248,64.0,351,73.4,276,44.9,36,31.3,20,49.2,212,40.1,8,4.0,356,8.8,169,2022

### Test merge matching

In [12]:
game_stats_season = game_stats.groupby(['season','team']).date.count().reset_index()
game_stats_season.columns = ['season','team','games']

match_df = team_stats[['TeamName','season','eFG%']].merge(game_stats_season, left_on=['TeamName','season'], right_on=['team','season'], how='outer')

In [13]:
match_df[pd.isnull(match_df.TeamName)]

Empty DataFrame
Columns: [TeamName, season, eFG%, team, games]
Index: []

In [14]:
match_df[pd.isnull(match_df.team)]

       TeamName  season  eFG% team  games
164  Fort Wayne    2008  50.6  NaN    NaN

not sure why Fort Wayne 2008 isn't found in the game data, but one missing team won't skew the metrics (may not go back to 2008 anyway)

In [15]:
opp_stats_season = game_stats.groupby(['season','opp']).date.count().reset_index()
opp_stats_season.columns = ['season','opp','opp_games']

opp_match_df = team_stats[['TeamName','season','eFG%']].merge(opp_stats_season, left_on=['TeamName','season'], right_on=['opp','season'], how='outer')

In [16]:
opp_match_df[pd.isnull(opp_match_df.TeamName)]

Empty DataFrame
Columns: [TeamName, season, eFG%, opp, opp_games]
Index: []

In [17]:
opp_match_df[pd.isnull(opp_match_df.opp)]

       TeamName  season  eFG%  opp  opp_games
164  Fort Wayne    2008  50.6  NaN        NaN